/**=====================
    25. Authentication CSS Start
==========================**/
.btn{
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 500;
}
.btn-orange{
  background-color: #BE7B2E;
  color:#fff;
}
.btn-orange:hover{
  background-color: #232F52;
  color:#BE7B2E;
}
.btn-blue{
  background-color: #232F52;
  color:#BE7B2E;
}
.custom-text-secondary{
  color:#93A0B9;
}
.btn-blue:hover{
  background-color: #BE7B2E;
  color:#fff;
}
.form-control{
  border: 2px solid #363F54;
}
.custom-hr{
  border:2px solid #363F54;
}

.show-hide {
  position: absolute;
  top: 52px;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); 
      i{
          color:#BE7B2E
      }
      }
  .show-hide span {
    cursor: pointer;
    font-size: 13px;
    color: var(--theme-deafult); }
    .show-hide span.show:before {
      // content: "\F33F";
   }
    .show-hide span:before {
      // content: "hide";
   }

.needs-validation .invalid-feedback {
  color: #898989; }

.needs-validation .show-hide {
  right: 30px; }

.needs-validation .invalid-tooltip {
  top: 10px;
  right: 10px; }

/**=====================
    25. Authentication CSS Ends
==========================**/