<div class="login-main">
  <div class="logo text-left">
    <span class="text-white">Login to</span>
    <a class="" href="#">
      <img class="img-fluid for-light" src="../../../assets/img/login_logo.png" alt="looginpage">
    </a>
  </div>
  <form class="theme-form" [formGroup]="loginForm">
    <div class="form-group row">
      <div class="col-3">
        <label class="col-form-label text-white" for="areaCode">Area Code</label>
        <select class="form-select" formControlName="areaCode" type="text" id="areaCode" name="areaCode" required placeholder="+44">
          <option *ngFor="let countryCode of countryCodes" value="{{countryCode}}">{{countryCode}}</option>
          <option selected>+91</option>
        </select>
      </div>
    <div class="col-9">
        <label class="col-form-label text-white" for="phoneNumber">Phone Number</label>
        <input class="form-control" formControlName="phone" type="text" id="phoneNumber" name="phoneNumber" required placeholder="7457413014">
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label text-white">Password</label>
      <input class="form-control" formControlName="password" [type]="showhidePswd" name="login[password]" required="" placeholder="*********">
      <div class="show-hide">
        <span class="show">
          <i [ngClass]="showhidePswd === 'text' ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'" (click)="onShowPswd()"></i>
        </span>
      </div>
    </div>
    <div class="form-group d-flex justify-content-end">
      <a class="link text-white" (click)="onForgotPassword()">Forgot password?</a>
    </div>
    <div *ngIf="showOTPVerify" class="form-group row">
      <div class="col-9">
        <label class="col-form-label text-white" for="otp">Enter OTP</label>
        <input class="form-control" [(ngModel)]="smsOtp" [ngModelOptions]="{standalone: true}" type="text" id="otp" placeholder="745741" (keyup)="submitOTP()">
      </div>
    </div>
    <div class="form-group mb-0 row my-4">
      <div class="col-12">
        <button class="btn btn-orange btn-block m-0 w-100" [disabled]="!loginForm.valid" type="submit" (click)="onSignIn()">Sign in</button>
      </div>
    </div>
    <div class="text-muted my-3">
      <div class="d-flex align-items-center">
        <hr class="flex-grow-1 custom-hr">
        <span class="mx-2 custom-text-secondary"> OR </span>
        <hr class="flex-grow-1 custom-hr">
      </div>
    </div>
    <div class="form-group mb-0 row">
      <div class="col-12">
        <button class="btn btn-blue btn-block m-0 w-100" type="button" (click)="onRegister()">Register</button>
      </div>
    </div>
  </form>
</div>