/**=====================
    25. Authentication CSS Start
==========================**/
.btn {
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 500;
}

.btn-orange {
  background-color: #BE7B2E;
  color: #fff;
}

.btn-orange:hover {
  background-color: #232F52;
  color: #BE7B2E;
}

.btn-blue {
  background-color: #232F52;
  color: #BE7B2E;
}

.custom-text-secondary {
  color: #93A0B9;
}

.btn-blue:hover {
  background-color: #BE7B2E;
  color: #fff;
}

.form-control {
  border: 2px solid #363F54;
}

.custom-hr {
  border: 2px solid #363F54;
}




.theme-form .checkbox label {
  padding-left: 10px;
}


.font-sm {
  font-size: 12px !important;
}

::ng-deep .custom-checkbox {
  background-color: #BE7B2E !important;
  border-color: #BE7B2E !important;
}

::ng-deep .custom-checkbox:checked {
  background-color: #BE7B2E !important;
  border-color: #BE7B2E !important;
}

::ng-deep .custom-checkbox:checked::before {
  background-color: #BE7B2E !important;
  border-color: #BE7B2E !important;
}

.show-hide {
  position: absolute;
  top: 55px;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  i {
    color: #BE7B2E
  }
}

.show-hide span {
  cursor: pointer;
  font-size: 14px;
  color: #BE7B2E;
  font-family: "Inter", serif;
}

.show-hide span.show:before {
  content: "Send Code";
  font-size: 14px;
  font-family: "Inter", serif;
  color: #BE7B2E;
}

.show-hide span:before {
  content: "hide";
}

.needs-validation .invalid-feedback {
  color: #898989;
}

.needs-validation .show-hide {
  right: 30px;
}

.needs-validation .invalid-tooltip {
  top: 10px;
  right: 10px;
}

.form-control{
  color:#fff;
}
.input-has-value{
color:#fff;
}

/**=====================
    25. Authentication CSS Ends
==========================**/