
  /*-----------------------------------------
27. Accordions
-------------------------------------------*/

.accordion-button::after {
    content:"\F229";
    font-family: "Bootstrap-icons";
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  }

  .accordion-button:not(.collapsed)::after {
    content:"\F229";
    font-family: "Bootstrap-icons";
    // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  }

  .accordion-button:not(.collapsed) {
    color: #96A1C2;
    // background-color: transparent;
    box-shadow: none;
  }

  .accordion-item {
    background-color: transparent;
    border: none;
  }

  .accordion-button {
    background-color: #232F52;
    // border-bottom: 1px solid #96A1C2;
  }

  .accordion-body {
    padding: 18px 18px 30px 18px !important;
    color: #96A1C2 !important;
  }

  .accordion-button {
    font-size: 15px;
    font-weight: 600;
    color: #96A1C2;
  }

  .accordion {
    // background: transparent;
    box-shadow: none;
    border: none;
    // border-bottom: 1px solid #ececec;
    border-radius: 0px !important;
  }

  .accordion-heading {
    border-radius: 0px;
    padding: 0px;
  }

  .accordion-title a {
    font-size: 15px;
    font-weight: 600;
    color: #111;
    line-height: 1;
    display: block;
    padding: 20px 0px 25px 0px;
    border-radius: 0px;
  }


  .accordion_icon {
    float: right;
  }

  .accordion-body {
    font-size: 15px;
    font-weight: 400;
    color: #999;
    line-height: 170%;
    text-align: left;
    border: none !important;
    padding: 0px;
    padding: 18px 0px 30px 0px;
  }

  .accordion-body p {
    margin-bottom: 0px;
  }

  .button_resp a{
    text-decoration: none;
}

.primary-button{
	text-decoration: none;
}
.list-group-item{
    color:#96A1C2;
    font-size:14px;
    a{
        color:#96A1C2; 
    }
}
.subpoints{
    list-style-type: lower-alpha;
    padding-left: 20px;
}

// .gradient-left-border{
//     border-left: 4px solid #d21e2b;
//     font-size: 16px;
//     font-weight: 500;
//     margin: 25px 0px 25px 0px;
//     padding: 20px 30px 30px 30px;
// }


.gradient-left-border{
    position: relative;
    padding-left: 30px;
}

.gradient-left-border::before {
    content: '';
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width: 5px;
    background: linear-gradient(to bottom, #BE7B2E, #6AF5FF);

}

.gradient-right-border::before{
    content: '';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width: 5px;
    background: linear-gradient(to bottom, #BE7B2E, #6AF5FF);
}

.gradient-right-border{
    position: relative;
    padding-right: 30px;
}


/*-----------------------------------------
6. CountUps
-------------------------------------------*/

.counter-box{
	position: relative;
	text-align: center;
	margin: 15px 0px;
}

@media (min-width: 320px) and (max-width: 374.98px) { 
    .why-cuttle img{
        transform: translate(5%, -17%) !important;
    }
 }
 @media (min-width: 375px) and (max-width: 424.98px) { 
    .why-cuttle img{
        transform: translate(5%, -15%) !important;
    }
 }
 @media (min-width: 425px) and (max-width: 767.98px) { 
    .why-cuttle img{
        transform: translate(5%, -14%) !important;
    }
 }
 
 @media (min-width: 768px) and (max-width: 991.98px) { 
    .video-gif .v-right{
        transform: translate(9%, 0%) !important;
    }
    .video-gif .v-left{
        transform: translate(-10%, 0%) !important;
    }
    .why-cuttle img{
        transform: translate(5%, -19%) !important;
    }
 }

 @media (min-width: 992px) and (max-width: 1199.98px) { 
    .video-gif .v-right{
        transform: translate(8%, 0%) !important;
    }
    .video-gif .v-left{
        transform: translate(-9%, 0%) !important;
    }
    .why-cuttle img{
        transform: translate(5%, -15%) !important;
    }
 }

 @media (min-width: 1400px) and (max-width: 2559.98px) { 
    .video-gif .v-right{
        transform: translate(26%, 0%) !important;
    }
    .video-gif .v-left{
        transform: translate(-11%, 0%) !important;
    }
    .why-cuttle img{
        transform: translate(5%, -12%) !important;
    }
 }
@media (max-width: 767px) {
	.counter-box{
		margin: 30px;
	}	
    .video-gif .v-right{
        transform: translate(0%, 0%) !important;
    }
    .video-gif .v-left{
        transform: translate(0%, 0%) !important;
    }
    .count-client .bg-orange{
        margin:10px;
    }
    .section-block-parallax .count-client{
        transform:none !important;
    }
    .cutom-color-border::before{
        position: inherit !important;
    }
    .cutom-color-border::after{
        position: inherit !important;
    }
    
    .mob-pad-bottom-40{
        padding-bottom:40px;
    }
}

.counter-box h4{
	display: inline-block;
	font-size: 45px;
	font-weight: 700;
    font-family: "Overpass", sans-serif;
	color: #111;
}

.counter-box h4:after{
	content: '+';
}


.counter-box h3{
	display: inline-block;
	font-size: 45px;
	font-weight: 600;
	color: #111;
}

.counter-box h3:after{
	content: '+';
}

.counter-box p{
  font-size: 15px;
  font-weight: 500;
  color: #999;
  line-height: 1.7;
  margin-top: 10px;
}

.counter-box.left-holder p:before{
	content: '';
	display: block;
	background: #d21e2b;
	height: 3px;
	width: 70px;
	margin: 10px 0px;
}

.cutom-color-border{
    position: relative;
    // border:4px solid transparent;
}
.bg-orange{
    background-color: #BE7B2E;
}

.cutom-color-border::before{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:32%;
    height: 10px;
    background-color: #592EA9;
}
.cutom-color-border::after{
    content:'';
    position:absolute;
    bottom:0;
    left: 32%;
    width:55%;
    height: 10px;
    background-color: #FFD050;
}

.bg-white h4{
    color: #232536;
    font-weight: 700;
    font-size: 25px;
    font-family: "Overpass", sans-serif;
}
.bg-white span{
    color: #232536;
    font-size: 16px;
    font-weight: 500;
}
.bg-white p{
    color: #6D6E76;
}


.section-heading p{
    color: #96A1C2;
}
.custom-left-border{
    border-left: 2px solid #C9CACB;height: 50px;
    padding-left: 15px;
}

.breadcrumb .breadcrumb-item a{
    color:#BE7B2E;
    text-decoration: none;
    font-size: 13px;
    .breadcrumb-item a:hover{
        text-decoration: underline !important;
    }
}
.breadcrumb .active{
    color:#BE7B2E;
    font-size: 13px;
}
.nav-underline .nav-link.active{
    border-bottom-color: #BE7B2E;
}
.nav-underline .nav-link:focus, .nav-underline .nav-link:hover{
    border-bottom-color: #BE7B2E;
}
.nav-underline{
    border-bottom:1px solid #393C49;
}

.breadcrumb-item + .breadcrumb-item::before{
    color: #BE7B2E !important;
}
.user-guide h5{
    font-size:14px;
    font-weight:600;
    font-family: "Overpass", sans-serif;
}

.video-gif .v-right{
    transform:translate(18%, 0%);
}

.video-gif .v-left{
    transform:translate(-20%, 0%);
}

.blog2-post-title-cont {
    position: relative;
}
.blog2-post-prev-text, .blog2-post-title-cont {
    margin-bottom: 20px;
}
.blog2-post-title-cont .post-prev-title {
    padding: 15px 0 15px 20px;
    border-left: #c9cacb 1px solid;
}
.post-prev-title h3 {
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}
.blog2-post-title-cont .post-prev-info {
    margin: 0;
}
.font-DDorange {
    color: #BE7B2E !important;
}
.post-prev-info {
    margin-bottom: 14px;
    font-size: 13px;
    text-transform: uppercase;
}
.slash-divider {
    margin-right: 7px;
    margin-left: 7px;
}
.blog2-post-prev-text p{
    color: #96A1C2;
}
.section-block-parallax .count-client{
    transform: translate(0%, 30%);
}
.why-cuttle img{
    transform: translate(5%, -13%);
   
}

// .carousel-inner{
//     display: flex;
//     align-items: center !important;
// }

// .carousel-slide-section img{
//     width: 50% !important;
//     height: 100% !important;
// }



::ng-deep .carousel-inner{
    display: flex;
        align-items: center !important;
    }
    .carousel-slide-section img{
        width: 100% !important;
    }
    .item {
        justify-content: center;
        display: flex;
    }
    ::ng-deep .carousel-control-next-icon{
        display:none;
    }
    ::ng-deep .carousel-control-prev-icon{
        display:none;
    }



