.section_bgc_l {
    background-color: #1C2746;
  }
  .hwToStart svg{
    width: 22px;
  }
  .divider-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .divider-image img{
    max-width: 100%;
    height: auto;
  }
  .step-cards .cuttle-card{
    margin:0px;
    padding:0px;
  }
  @media (max-width: 767px) {
    .feature-box-long{
      margin: 15px 30px;
    }
  }
  @media (max-width: 767px) {
    .business-partners img{
        width: 50% !important;
    }
    }
    
    // @media (max-width: 767px) {
    //     slide img{
    //         width: 50% !important;
    //     }
    // }

  
  @media(max-width: 768px){
    .divider-image{
        display: none;
    }
    .feature-section{
        padding: 90px 0px 30px 0px;
    }
    .step-cards .cuttle-card{
        padding-right: calc(var(--bs-gutter-x)* .5);
        padding-left: calc(var(--bs-gutter-x)* .5);
    }
  }

  ::ng-deep .carousel-inner{
    display: flex;
        align-items: center !important;
    }
    slide img{
        width: 50%;
    }
    .item {
        justify-content: center;
        display: flex;
    }
    ::ng-deep .carousel-control-next-icon{
        display:none;
    }
    ::ng-deep .carousel-control-prev-icon{
        display:none;
    }
.multilist-margin{
    margin: 30px !important;
}