<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 bg-img-world">
        <div class="">
            <div class="section-heading">
                <h4>Cuttle Card<br> Multi-Asset Collateral <br> Credit Card</h4>
                <h6>Unlimited Credit Card Limit Single Transaction Up to <br> $5,000 000</h6>
            </div>
            <div class="text-content-big mt-20">
                <p>The credit limit is set based on the value of Collateral, Supporting securities, Properties, etc</p>
            </div>
            <div class="mt-4 button_resp">
                <a href="#" class="primary-button-light button-sm mb-15-xs">Get Started</a>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12 offset-md-1">
        <img src="assets/img/credit_card_circle.png" class="rounded-border" alt="img">
    </div>
</div>