<!-- Info Section START -->

        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="section-heading mt-30">
                    <!-- <span>Welcome To Our Agency</span> -->
                    <h4>Why Cuttle Card</h4>
                </div>
                <div class="text-content mt-25">
                    <p>By choosing Cuttle Card credit card, you will enjoy globally accepted in-store transactions,
                        local and overseas cash withdrawal, making your travel and work more convenient. You can also
                        shop online anytime, whether you need to pay millions of dollars for insurance.</p>
                </div>
                <div class="mt-4 button_resp">
                    <a href="#" class="primary-button-dark button-sm">Read More
                        <span>
                            <i class="bi bi-arrow-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-12">
                <img src="assets/img/why_cuttle.png" alt="image" class="w-100">
            </div>
        </div>
<!-- Info Section END -->

