<!-- FAQ Section START -->
<div class="section-block-grey">
	<div class="container">
		<div class="section-heading">
			<h4>Frequently Aksed Questions</h4>
		</div>		
		<div class="row mt-40">
			<div class="col-md-12 col-sm-6 col-xs-12">
				<div class="pr-30-md">


                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What are some tips when choosing a hosting package?
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non delectus dignissimos debitis laudantium distinctio facilis. Hic beatae maxime iusto necessitatibus, officia minus sint harum architecto soluta. Velit perspiciatis quos magni!</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How do I choose the right server?
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis commodi excepturi, error ipsum illum officiis temporibus natus, incidunt corporis aliquid cupiditate iure inventore voluptatibus? Natus unde odit mollitia quod id.</p>
                            </div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                What if i need help choosing the right domain?
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quod, nulla amet nostrum magnam exercitationem ut voluptatem quia neque repellat eveniet. Consequuntur tempore possimus sapiente autem delectus esse saepe numquam.</p>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                How can I Contact your technical team?
                              </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quod, nulla amet nostrum magnam exercitationem ut voluptatem quia neque repellat eveniet. Consequuntur tempore possimus sapiente autem delectus esse saepe numquam.</p>
                              </div>
                            </div>
                          </div>

                          <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Difference between cloud Hosting and shared Hosting?
                              </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quod, nulla amet nostrum magnam exercitationem ut voluptatem quia neque repellat eveniet. Consequuntur tempore possimus sapiente autem delectus esse saepe numquam.</p>
                              </div>
                            </div>
                          </div>
                      </div>
						
				</div>
			</div>	
		</div>
	</div>
</div>
<!-- FAQ Section END -->