/**=====================
    25. Authentication CSS Start
==========================**/
.bg-dark-blue{
    background-color: #19233F;
}
.desk-resp-p-0{
    padding:0;
}
.btn{
    font-family: "Inter", serif;
    font-size: 14px;
    font-weight: 500;
}
.btn-orange{
    background-color: #BE7B2E;
    color:#fff;
}
.btn-orange:hover{
    background-color: #232F52;
    color:#BE7B2E;
}
.btn-blue{
    background-color: #232F52;
    color:#BE7B2E;
}
.custom-text-secondary{
    color:#93A0B9;
}
.btn-blue:hover{
    background-color: #BE7B2E;
    color:#fff;
}
.form-control{
    border: 2px solid #363F54;
}
.carousel-indicators{
    bottom: 25%;
}
.carousel-indicators [data-bs-target]{
    height:10px;
    width: 10px;
    border-radius:50%;
    background-color: #BE7B2E;
}
.custom-hr{
    border:2px solid #363F54;
}
.login-card {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    background-color:#19233F;
    // background: url("../../../assets/img/login_bg.png");
    // background-position: center;
    padding: 30px 0; }
    .login-card .logo {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      text-align: center; }
      .logo span {
        padding-right: 2px;
        font-size: 30px;
        font-weight: 700;
        font-family: "Overpass", sans-serif;
      }
    // .login-card .btn-showcase .btn {
    //   line-height: 1;
    //   padding: 10px 15px;
    //   margin: 0; }
      .login-card .btn-showcase .btn + .btn {
        margin-left: 5px; }
      .login-card .btn-showcase .btn svg {
        height: 16px;
        vertical-align: bottom; }
    .login-card .login-main {
      width: 450px;
      padding: 40px;
      border-radius: 10px;
      -webkit-box-shadow: 0 0 37px rgba(8, 21, 66, 0.05);
              box-shadow: 0 0 37px rgba(8, 21, 66, 0.05);
      margin: 0 auto;
      background-color: #19233F; }
      .login-card .login-main .theme-form h4 {
        margin-bottom: 5px; }
      .login-card .login-main .theme-form label {
        font-size: 15px;
        letter-spacing: 0.4px; 
        font-family: "Overpass", sans-serif;
    }
    .theme-form .checkbox label {
        padding-left: 10px;
    }  


    .font-sm{
        font-size:12px !important;
    }
    ::ng-deep .custom-checkbox{
        background-color: #BE7B2E !important;
        border-color: #BE7B2E !important;
    }

    ::ng-deep .custom-checkbox:checked{
        background-color: #BE7B2E !important;
        border-color: #BE7B2E !important;
    }
    ::ng-deep .custom-checkbox:checked::before{
        background-color: #BE7B2E !important;
        border-color: #BE7B2E !important;
    }
      .login-card .login-main .theme-form .checkbox label::before {
        background-color: #f9f9fa;
        border: 1px solid #dfdfdf; }
      .login-card .login-main .theme-form .or {
        position: relative; }
        .login-card .login-main .theme-form .or:before {
        //   content: "";
        //   position: absolute;
        //   width: 65%;
        //   height: 2px;
        //   background-color: #f3f3ff;
        //   top: 9px;
        //   z-index: 0;
        //   right: 0; 
        }
      .login-card .login-main .theme-form input {
        background-color: #232F52;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .login-card .login-main .theme-form input::-webkit-input-placeholder {
          color: #999999; }
        .login-card .login-main .theme-form input:hover, .login-card .login-main .theme-form input:focus {
          border: 2px solid #363F54;
          -webkit-box-shadow: none !important;
                  box-shadow: none !important;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease; }
      .login-card .login-main .theme-form p {
        margin-bottom: 25px;
        font-size: 14px;
        color: #898989; }
      .login-card .login-main .theme-form .form-group {
        margin-bottom: 10px;
        position: relative; }
      .login-card .login-main .theme-form .link {
        text-decoration: none;
    }
    .login-card .login-main .theme-form .link:hover {
        text-decoration: underline;
    }
  
  .show-hide {
    position: absolute;
    top: 55px;
    right: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); 
        i{
            color:#BE7B2E
        }
        }
    .show-hide span {
      cursor: pointer;
      font-size: 14px;
      color:#BE7B2E;
      font-family: "Inter", serif;
     }
      .show-hide span.show:before {
        content: "Send Code";
        font-size: 14px;
        font-family: "Inter", serif;
        color:#BE7B2E;
     }
      .show-hide span:before {
        content: "hide";
     }
  
  .needs-validation .invalid-feedback {
    color: #898989; }
  
  .needs-validation .show-hide {
    right: 30px; }
  
  .needs-validation .invalid-tooltip {
    top: 10px;
    right: 10px; }
  
  /**=====================
      25. Authentication CSS Ends
  ==========================**/