<div class="login-main">
  <div class="logo text-left">
    <span class="text-white">Set a new login password</span>
  </div>
  <form class="theme-form" [formGroup]="form">
    <div class="form-group">
      <label class="col-form-label text-white">Login password</label>
      <input class="form-control" formControlName="oldPwd" type="password" name="login[password]" required="" placeholder="">
      <div class="show-hide">
        <i class="bi bi-eye-fill"></i>
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label text-white">Confirm login password</label>
      <input class="form-control" formControlName="newPwd" type="password" name="login[password]" required="" placeholder="*********">
      <div class="show-hide">
        <i class="bi bi-eye-slash-fill"></i>
      </div>
    </div>
    <div class="form-group row my-4">
      <div class="col-12">
        <button class="btn btn-orange btn-block m-0 w-100" type="submit" (click)="onConfirm()">Confirm</button>
      </div>
    </div>
    <div class="form-group mb-0 row">
      <div class="col-12">
        <button class="btn btn-blue btn-block m-0 w-100" (click)="onReturn()">Return</button>
      </div>
    </div>

  </form>
</div>