<div class="row mt-40">
    <!-- Project Block Start -->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="case-block">
            <div class="row about_section">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="case-block-inner">
                        <h4>About Cuttle Card</h4>
                        <p>Cuttle Credit Card is operated by Cuttle Card Co., Ltd., which has a clear and legal operating entity and meets information security requirements and KYC/AML standards.</p>
                       
                        <div class="mt-4 button_resp">
                            <a href="#" class="primary-button-light button-sm">Know More
                                <span>
                                    <i class="bi bi-arrow-right px-1"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 pr-0">
                    <img src="assets/img/about_cttle_card.png" alt="case">
                </div>
            </div>
        </div>
    </div>
    <!-- Project Block End -->
</div>