<div class="login-main">
  <div class="logo text-left">
    <span class="text-white">Retrieve password ?</span>
  </div>
  <form class="theme-form" [formGroup]="form">
    <div class="form-group row">
      <div class="col-3">
        <label class="col-form-label text-white" for="areaCode">Area Code</label>
        <input class="form-control" formControlName="areaCode" type="text" id="areaCode" name="areaCode" required placeholder="+44">
      </div>
      <div class="col-9">
        <label class="col-form-label text-white" for="phoneNumber">Phone Number</label>
        <input class="form-control" formControlName="phone" type="text" id="phoneNumber" name="phoneNumber" required placeholder="7457413014">
      </div>
    </div>
    <div class="form-group">
      <label class="col-form-label text-white">Verification Code</label>
      <input class="form-control" formControlName="smsOtp" type="password" name="login[password]" placeholder="Verification Code">
      <div class="show-hide" [attr.disabled]="!form.value.areaCode || !form.value.phone"><a (click)="onSendOTP()"><span class="show"> </span></a></div>
    </div>


    <div class="form-group mb-0 row my-4">
      <div class="col-12">
        <button class="btn btn-orange btn-block m-0 w-100" type="submit" [disabled]="!form.valid" (click)="onSetNewPswd()">Continue</button>
      </div>
    </div>
    <div class="text-muted my-3">
      <div class="d-flex align-items-center">
        <hr class="flex-grow-1 custom-hr">
        <span class="mx-2 custom-text-secondary"> OR </span>
        <hr class="flex-grow-1 custom-hr">
      </div>
    </div>
    <div class="form-group mb-0 row">
      <div class="col-12">
        <button class="btn btn-blue btn-block m-0 w-100" (click)="onRegister()">Register now</button>
      </div>
    </div>

  </form>
</div>