::ng-deep .carousel-inner{
    display: flex;
        align-items: center !important;
    }
    slide img{
        width: 50%;
    }
    .item {
        justify-content: center;
        display: flex;
    }
    ::ng-deep .carousel-control-next-icon{
        display:none;
    }
    ::ng-deep .carousel-control-prev-icon{
        display:none;
    }
.multilist-margin{
    margin: 30px !important;
}