<div class="row">
    <div class="col-md-12">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.528758 0.528636C0.789108 0.268287 1.21122 0.268287 1.47157 0.528636L5.47157 4.52864C5.73192 4.78899 5.73192 5.2111 5.47157 5.47145L1.47157 9.47145C1.21122 9.7318 0.789108 9.7318 0.528758 9.47145C0.268409 9.2111 0.268409 8.78899 0.528758 8.52864L4.05735 5.00004L0.528758 1.47145C0.268409 1.2111 0.268409 0.788986 0.528758 0.528636Z' fill='white'/%3E%3C/svg%3E%0A&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Text</a></li>
                <li class="breadcrumb-item active text-white fw-bold" aria-current="page">Text
                </li>
            </ol>
        </nav>
    </div>
  </div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="myCard">
                            <div class="row align-items-center">
                               <div class="col-md-8">
                               <div class="row">
                                <div class="col-4 col-md-4 col-lg-4">
                                    <div class="row align-items-center">
                                        <div class="col-3">
                                            <div
                                                class="bg-primary-dark rounded-circle d-flex align-items-center just-content-center">
                                                <img src="../../assets/img/icons/circle_down_arrow.png"
                                                    class="w-100 arrow" alt="">
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <p class="mb-1">Total Spending (HKD)</p>
                                            <h6>
                                                2343.510
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-4">
                                    <div class="row align-items-center">
                                        <div class="col-3">
                                            <div
                                                class="bg-primary-dark rounded-circle d-flex align-items-center just-content-center">
                                                <img src="../../assets/img/icons/circle_down_arrow.png"
                                                    class="w-100 arrow" alt="">

                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <p class="mb-1">Total Collateral (HKD)</p>
                                            <h6>
                                                762.510
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-lg-4">
                                    <div class="row align-items-center">
                                        <div class="col-3">
                                            <div
                                                class="bg-primary-dark rounded-circle d-flex align-items-center just-content-center">
                                                <img src="../../assets/img/icons/circle_down_arrow.png"
                                                    class="w-100 arrow" alt="">

                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <p class="mb-1">Month</p>
                                            <h6>
                                                November
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                               </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 box-col-12 mt-3">
                        <div class="card custom-card">
                            <div class="card-header py-3">
                                <div class="row align-items-center">
                                    <div class="col-xl-8 col-7">
                                        <h6>Transaction History  </h6>
                                    </div>
                                    <div class="col-xl-4 col-5 text-end d-flex justify-content-end">
                                        <a class="text-white primary-button btn-dark-cuttle button-xs d-flex align-items-center rounded me-2"> 
                                            <svg class="me-2" width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M6.83333 3.33203C6.83333 2.77975 6.38562 2.33203 5.83333 2.33203C5.28105 2.33203 4.83333 2.77975 4.83333 3.33203V6.4987H2.5C1.94772 6.4987 1.5 6.94641 1.5 7.4987C1.5 8.05098 1.94772 8.4987 2.5 8.4987H4.83333V16.6654C4.83333 17.2176 5.28105 17.6654 5.83333 17.6654C6.38562 17.6654 6.83333 17.2176 6.83333 16.6654V8.4987H9.16667C9.71895 8.4987 10.1667 8.05098 10.1667 7.4987C10.1667 6.94641 9.71895 6.4987 9.16667 6.4987H6.83333V3.33203ZM15.1667 3.33203C15.1667 2.77975 14.719 2.33203 14.1667 2.33203C13.6144 2.33203 13.1667 2.77975 13.1667 3.33203V11.4987H10.8333C10.281 11.4987 9.83333 11.9464 9.83333 12.4987C9.83333 13.051 10.281 13.4987 10.8333 13.4987H13.1667V16.6654C13.1667 17.2176 13.6144 17.6654 14.1667 17.6654C14.719 17.6654 15.1667 17.2176 15.1667 16.6654V13.4987H17.5C18.0523 13.4987 18.5 13.051 18.5 12.4987C18.5 11.9464 18.0523 11.4987 17.5 11.4987H15.1667V3.33203Z"
                                                fill="white" />
                                        </svg>
                                            Filter</a>
                                        <a class="text-white primary-button btn-dark-cuttle button-xs d-flex align-items-center">All Records</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-borderless custom-table">
                                        <thead class="table-dark">
                                            <tr>
                                                <th scope="col">SL No</th>
                                                <th scope="col">Transaction Time</th>
                                                <th scope="col">Record Time</th>
                                                <th scope="col">Merchant</th>
                                                <th scope="col">Transaction...</th>
                                                <th scope="col">Amount Of the</th>
                                            </tr>
                                        </thead>
                                        <tbody class="bg-transparent">
                                            <tr>
                                                <td scope="row">1</td>
                                                <td>11/12/2024 12:03:58</td>
                                                <td>11/12/2024 12:03:58</td>
                                                <td>Goggle Pay</td>
                                                <td>Local Spend</td>
                                                <td>-845.00 HKD</td>
                                                
                                            </tr>

        
                                            <tr>
                                                <td scope="row">2</td>
                                                <td>11/12/2024 12:03:58</td>
                                                <td>11/12/2024 12:03:58</td>
                                                <td>Goggle Pay</td>
                                                <td>Local Spend</td>
                                                <td>-845.00 HKD</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">3</td>
                                                <td>11/12/2024 12:03:58</td>
                                                <td>11/12/2024 12:03:58</td>
                                                <td>Goggle Pay</td>
                                                <td>Local Spend</td>
                                                <td>-845.00 HKD</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">4</td>
                                                <td>11/12/2024 12:03:58</td>
                                                <td>11/12/2024 12:03:58</td>
                                                <td>Goggle Pay</td>
                                                <td>Local Spend</td>
                                                <td>-845.00 HKD</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">5</td>
                                                <td>11/12/2024 12:03:58</td>
                                                <td>11/12/2024 12:03:58</td>
                                                <td>Goggle Pay</td>
                                                <td>Local Spend</td>
                                                <td>-845.00 HKD</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">6</td>
                                                <td>11/12/2024 12:03:58</td>
                                                <td>11/12/2024 12:03:58</td>
                                                <td>Goggle Pay</td>
                                                <td>Local Spend</td>
                                                <td>-845.00 HKD</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>